<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>申请列表</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/global.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <a href="{:url('joincircleAdd')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> {:lang('add')}申请
        </a>
    </blockquote>
    <fieldset class="layui-elem-field ">
        <legend>申请{:lang('list')}</legend>
        <div class="layui-field-box table-responsive">
            <form method="get" id="formSearch" action="{:url('joincircle')}">
                <div class="demoTable" style="margin-bottom: 10px;">
                    搜索圈子名称：
                    <div class="layui-inline">
                        <input type="hidden" class="layui-input" value="1" name="pageIndex"  autocomplete="off">
                        <input class="layui-input" value="{$keyword}" name="keyword" id="username" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
            </form>
            <table class=" layui-table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>圈子</th>
                    <th>申请人</th>
                    <th>申请时间</th>
                    <th>状态</th>
                    <th>{:lang('action')}</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                    <td>{$v.tmu_id}</td>
                    <td>{$v.tmd_name}</td>
                    <td>{$v.use_nickname}</td>
                    <td>{$v.tmu_create_time}</td>
                    <td>{$v.tmu_status}</td>
                    <td>
                        {if condition="$v['tmu_status'] neq '审核通过'"}
                        <a href="{:url('joincircleEdit',['tmu_id'=>$v['tmu_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.tmu_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10">
                        <!--分页容器-->
                        <div id="paged" style="text-align: right"></div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
    </fieldset>
</div>
<script type="text/javascript" src="__ADMIN__/plugins/layui/layui.js"></script>
<script src="__STATIC__/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function del(id) {
        layer.confirm('{:lang("Are you sure you want to delete it")}', {icon: 3}, function (index) {
            window.location.href = "{:url('joincircleDel')}?tmu_id="+id;
        });
    }

    // function sta(id) {
    //     layer.confirm('确定通过？操作后不能更改！', {icon: 3}, function (index) {
    //         window.location.href = "{:url('joincircleStatus')}?oap_id="+id+"&sta=3";
    //     });
    // }
    // function nsta(id) {
    //     layer.confirm('确定不通过？操作后不能更改！', {icon: 3}, function (index) {
    //         window.location.href = "{:url('joincircleStatus')}?oap_id="+id+"&sta=2";
    //     });
    // }

    layui.use('laypage', function(){
        var laypage = layui.laypage;

        laypage({
            cont: 'paged'
            ,pages: {$count}
            ,curr:{$pageIndex}
            ,skip: true
            ,jump: function(obj, first){
                //首次不执行
                if(!first){
                    var keyword = $("#username").val();
                    if(keyword) {
                        location.href="/admin/organization/joincircle.html?pageIndex="+obj.curr+"&keyword="+keyword;
                    } else {
                        location.href="/admin/organization/joincircle.html?pageIndex="+obj.curr;
                    }

                    //do something
                }
            }
        });
        $('.demoTable .layui-btn').on('click', function(){
            $("#formSearch").submit();
        });

    });
</script>
</body>

</html>